In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('Honolulu_Osm.db')

In [3]:
c = conn.cursor()

In [4]:
c.execute('SELECT COUNT(*) FROM ways')
print c.fetchone()

(25540,)

In [13]:
def result(query):
    c.execute(query)
    rows = c.fetchall()
    names = [description[0] for description in c.description]
    df = pd.DataFrame(rows)
    df.columns = names
    print df

In [18]:
result('''SELECT nodes_tags.value, COUNT(*) as num
FROM nodes_tags 
    JOIN (SELECT DISTINCT(id) FROM nodes_tags WHERE value='restaurant') i
    ON nodes_tags.id=i.id
WHERE nodes_tags.key='cuisine'
GROUP BY nodes_tags.value
ORDER BY num DESC Limit 9''')

           value  num
0       japanese    7
1          pizza    6
2       american    5
3        chinese    5
4       regional    5
5  international    4
6          asian    3
7        italian    3
8           thai    3